.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 25vmin;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px #61dafb solid;
  color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

button {
  border-style: none;
  cursor: pointer;
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid #61dafb;
}

button:hover {
  background-color: #61dafb;
  color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
